.appcontainer-wrapper {
  margin-top: 50px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.card-section-wrapper {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  border-radius: 10px;
  padding: 50px;
  margin-top: 30px;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .card-section-wrapper {
    padding: 20px;
  }
}

#bitmoji-image {
  position: fixed;
  bottom: -20px;
  right: 50px;
  width: 180px;
}

.field-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.field-wrap input, .field-wrap textarea {
  flex-grow: 1;
}

.how-label {
  min-width: 350px;
}

.constrained-width-input {
  max-width: 375px;
}

.full-row-width {
  display: block;
  width: 100%;
}

.input-with-center-text::placeholder {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .input-with-center-text::placeholder {
    text-align: left;
  }
}

.checkbox {
  position: relative;
  bottom: 5px;
}

.modal {
  background-color: white;
  width: 450px;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  border-radius: 10px;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  text-align: center;
}

.modal img {
  width: 200px;
}

.modal .button {
  margin: 0 auto;
}

.modal .button p {
  position: relative;
  bottom: 3px;
}

.twitter-logo {
  position: relative;
  top: 3px;
  left: 5px;
}
