body, html {
  background: linear-gradient(180deg, #E2FCEA 0%, #DAEAFC 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: inherit;
  font-family: Nunito;
}

h1, p {
  margin-top: 0;
  margin-bottom: 0;
}

button, input, select, textarea {
  font-family : inherit;
  font-size: inherit;
  outline: 0;
}

input, textarea {
  border: none;
  border-bottom: 3px solid black;
  color: #AB96FF;
}

textarea {
  box-sizing: border-box;
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: #AB96FF;
}

label {
  padding-right: 10px;
}

.constrained-width {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.font-sml {
  font-size: 32px;
  font-weight: 700;
}

.font-lrg {
  font-size: 42px;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {

  .font-sml {
    font-size: 26px;
  }

  .font-lrg {
    font-size: 32px;
  }
}

.font-color-grey {
  color: #6D6D6D;
}

.font-color-purple {
  color: #AB96FF;
}

.button {
  padding: 10px;
  font-weight: 900;
  border-radius: 10px;
  outline: 0;
  border: none;
  width: fit-content;
}

.button:hover {
  filter: brightness(110%);
}

.button:active {
  filter: brightness(120%);
}

.background-color-twitter-blue {
  background-color: #1DA1F2;
  color: white;
}

.background-color-purple {
  background-color: #AB96FF;
  color: white;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.margin-bottom-sml {
  margin-bottom: 15px;
}

.margin-bottom-med {
  margin-bottom: 35px;
}
